<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pasien Page</title>
</head>
<body>
Halaman Pasien
<br><br>

<table border = 1>
<tr>
	<td>Nomor Pasien</td>
	<td> *input </td>
</tr>
<tr>
	<td>Nama Pasien</td>
	<td> *input </td>
</tr>
<tr>
	<td>Gender Pasien</td>
	<td> *input </td>
</tr>
<tr>
	<td>Kategori Pasien</td>
	<td> *input </td>
</tr>
<tr>
	<td>Biaya Pasien</td>
	<td> *input </td>
</tr>
<tr>
	<td>Tanggal Lahir</td>
	<td> *input </td>
</tr>
<tr>
	<td>Submit</td>
	<td>Reset</td>
</tr>

</table>

</body>
</html>