<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CSS PAGE</title>

<style type="text/css">
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')
	;

h2 {
	color: #EA78AA;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

* {
	background-color: #656565;
}

div {
	background-color: #44AB7C;
}

.warnaGradient {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
		rgba(247, 25, 63, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#biru{
	color: skyblue;
}

</style>

</head>
<body>

	This is CSS Page
	<br>
	<h2>Coba CSS</h2>
	<h2>Coba CSS</h2>

	<div>
		<p>Halo</p>
		<label>Label</label>
	</div>
	
	<div id="warnaGradient">
		test id
		aas
		asd
	</div>

</body>
</html>



