<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Page</title>
<style type="text/css">

	
</style>
</head>
<body>
	<div>Buat Account Baru</div>
	<hr />
	<div>
		<p>
			For international applicants, please contact our International Office
			regarding application procedure. This registration form is meant for
			Indonesian citizen only. <br> Harap menggunakan account lama
			Anda telah membuat pendaftaran sebelumnya.
		</p>
	</div>

	<div>
		Login
		<hr />
	</div>

	<form method="POST" action="" name="vform" onchange="validate();">

		<div>
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" id="username" value=""></input></td>
					<td><h3 id="valUser" style="color: red; font-size: 12px; display: none">Perlu isi username dulu</h3></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="pass1" id="pass1"></input></td>
				</tr>
				<tr>
					<td>Ulangi Password</td>
					<td><input type="text" name="pass2" id="pass2"> </input></td>
				</tr>
			</table>
		</div>
		<br>
		<div>Identitas</div>
		<hr />

		<div>
			<table>
				<tr>
					<td>Nama sesuai identitas</td>
					<td><input type="text" name="nama_i" id="nama_i"></input></td>
				</tr>
				<tr>
					<td>Nama sesuai ijazah</td>
					<td><input type="password" name="nama_j" id="nama_j"></input></td>
				</tr>
				<tr>
					<td>Jenis Identitas</td>
					<td><select>
							<option value="ktp">KTP</option>
							<option value="sim">SIM</option>
							<option value="passp">Passport</option>

							<option value="" selected>--PILIH--</option>
					</select></td>
				</tr>
				<tr>
					<td>Nomor Identitas</td>
					<td><input type="text" name="ident" id="ident"></input></td>

				</tr>
				<tr>
					<td>Kewarganegaraan</td>
					<td><select>
							<option value="wni">WNI</option>
							<option value="wna">WNA</option>

							<option value="" selected>--PILIH--</option>
				</select></td>
				</tr>
				<tr>
					<td>
					<input type="button" onchange="validate();" value="login"/>
					</td>
				</tr>
			</table>
		</div>
	</form>

	<script type="text/javascript" src="../js/registration.js">


</script>
</body>
</html>