<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Registration Page</title>
	<style type="text/css">
		h3 {
			color: red;
			font-size: 10px;
			display: none;
		}

		#alertRepPass {
			font-size: 10px;
		}

		#info {
			color: gray;
			font-size: small;
		}

		#judul {
			color: gray;
		}
	</style>
</head>

<body>
	<div id="judul">Buat Account Baru</div>
	<hr />
	<div>
		<p>
			For international applicants, please contact our International Office
			regarding application procedure. This registration form is meant for
			Indonesian citizen only. <br> Harap menggunakan account lama
			Anda telah membuat pendaftaran sebelumnya.
		</p>
	</div>

	<div id="judul">
		Login
		<hr />
	</div>
	<div>
		<form method="POST" action="" name="vform" onchange="validate();">

			<div>
				<table>
					<tr>
						<td>Username</td>
						<td>
							<h3 id="valUser1">Username tidak boleh kosong</h3>
							<h3 id="valUser2">Username harus Alfabet, Numerik, dan "_" <br>Username tidak boleh
								mengandung spasi</h3>
							<input type="text" id="username" value=""></input>
							<div id="info">Username yang anda inginkan hanya dapat terdiri dari huruf, angka, dan _.
								Username tidak
								boleh mengandung spasi</div>
						</td>

					</tr>
					<tr>
						<td>Password</td>
						<td>
							<h3 id="alertPass">Password tidak boleh kosong</h3>
							<h3 id="alertPass2">Password minimal 6 karakter</h3>
							<input type="password" id="password" value=""></input>
							<div id="info">Masukkan password. Password minimal terdiri dari 6 karakter dan case
								sensitive (A beda dengan a)</div>
						</td>
					</tr>
					<tr>
						<td>Ulangi Password</td>
						<td>
							<h3 id="alertRepPass">Password tidak boleh kosong/Password tidak sama *case sensitive</h3>
							<input type="password" id="repPassword" value=""></input>
						</td>
					</tr>
				</table>
			</div>
			<br>
			<div id="judul">Identitas</div>
			<hr />

			<div>
				<table>
					<tr>
						<td>Nama sesuai identitas</td>
						<td>
							<h3 id="alertNamaIdentitas">Nama sesuai identitas harus diisi</h3>
							<input type="text" id="namaIdentitas" value=""></input>
							<div id="info">
								Nama sesuai yang tertulis di kartu identitas, tanpa gelar akademis/sertifikasi
								<br>Kata pada nama diawali dengan huruf kapital, contoh benar: Abc Def, contoh salah:
								abc def,
								ABC DEF
							</div>
						</td>
					</tr>
					<tr>
						<td>Nama sesuai ijazah</td>
						<td>
							<h3 id="alertNamaIjazah">Nama sesuai ijazah harus diisi</h3>
							<input type="text" id="namaIjazah"></input>
							<div id="info">
								Nama sesuai yang tertulis di ijazah, tanpa gelar akademis/sertifikasi
								<br>Kata pada nama diawali dengan huruf kapital, contoh benar: Abc Def, contoh salah:
								abc def, ABC DEF
							</div>
						</td>
					</tr>
					<tr>
						<td>Jenis Identitas</td>
						<td>
							<h3 id="alertJenisIdentitas">Anda belum memilih jenis identitas</h3>
							<select id="jenisIdentitas">
								<option value="ktp">KTP</option>
								<option value="sim">SIM</option>
								<option value="passp">Passport</option>

								<option value="" selected>--PILIH--</option>
							</select>
							<div id="info"> Pilih jenis identitas Anda. Identitas harus dibawa ketika ujian/daftar
								ulang.</div>
						</td>
					</tr>
					<tr>
						<td>Nomor Identitas</td>
						<td>
							<h3 id="alertNoIdentitas">Nomor identitas harus diisi</h3>
							<input type="text" id="noIdentitas" value=""></input>
						</td>
					</tr>
					<tr>
						<td>Kewarganegaraan</td>
						<td>
							<h3 id="alertKewarganegaraan">Kewarganegaraan harus diisi</h3>
							<select id="kewarganegaraan">
								<option value="wni">WNI</option>
								<option value="wna">WNA</option>

								<option value="" selected>--PILIH--</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>

	<!-- <script type="text/javascript" src="../js/registration.js">

	</script> -->

	<script type="text/javascript">

		function validate() {
			//username
			var username = document.getElementById('username')
			var vUsername1 = document.getElementById('valUser1')
			var allow = /^[a-zA-Z0-9_]+$/
			var vUsername2 = document.getElementById('valUser2')

			if (username.value == "") {
				vUsername1.style.display = 'block'
				vUsername2.style.display = 'none'
			}
			else if (!username.value.match(allow) || username.value == " ") {
				vUsername1.style.display = 'none'
				vUsername2.style.display = 'block'
			}
			else {
				vUsername1.style.display = 'none'
				vUsername2.style.display = 'none'
			}

			//password
			var password = document.getElementById('password')
			var alPass = document.getElementById('alertPass')
			var alPass2 = document.getElementById('alertPass2')

			if (password.value == "") {
				alPass.style.display = 'block'
				alPass2.style.display = 'none'
			}
			else if (password.value.length < 6) {
				alPass.style.display = 'none'
				alPass2.style.display = 'block'
			}
			else {
				alPass.style.display = 'none'
				alPass2.style.display = 'none'
			}

			//repeat password
			var repPassword = document.getElementById('repPassword')
			var alRepPass = document.getElementById('alertRepPass')

			if (password.value != repPassword.value || repPassword.value == "") {
				alRepPass.style.display = 'block'
			}
			else {
				alRepPass.style.display = 'none'
			}

			//nama identitas
			var namaIdentitas = document.getElementById('namaIdentitas')
			var alNamaIdentitas = document.getElementById('alertNamaIdentitas')
			var allowWord = /^[A-Z][a-z]*(?: [A-Z][a-z]*)*$/

			if (namaIdentitas.value == "" || namaIdentitas.value.match(allowWord)) {
				alNamaIdentitas.style.display = 'block'
			}
			else {
				alNamaIdentitas.style.display = 'none'
			}


			//nama ijazah
			var namaIjazah = document.getElementById('namaIjazah')
			var alNamaIjazah = document.getElementById('alertNamaIjazah')

			if (namaIjazah.value == "") {
				alNamaIjazah.style.display = 'block'
			}
			else {
				alNamaIjazah.style.display = 'none'
			}

			//jenis identitas
			var jenisIdentitas = document.getElementById('jenisIdentitas')
			var alJenisIdentitas = document.getElementById('alertJenisIdentitas')

			if (jenisIdentitas.value == "") {
				alJenisIdentitas.style.display = 'block'
			}
			else {
				alJenisIdentitas.style.display = 'none'
			}

			//nomor identitas
			var noIdentitas = document.getElementById('noIdentitas')
			var alNoIdentitas = document.getElementById('alertNoIdentitas')

			if (noIdentitas.value == "") {
				alNoIdentitas.style.display = 'block'
			}
			else {
				alNoIdentitas.style.display = 'none'
			}

			//kewarganegaraan
			var kewarganegaraan = document.getElementById('kewarganegaraan')
			var alKewarganegaraan = document.getElementById('alertKewarganegaraan')

			if (kewarganegaraan.value == "") {
				alKewarganegaraan.style.display = 'block'
			}
			else {
				alKewarganegaraan.style.display = 'none'
			}

		}

	</script>

</body>

</html>